<a href="https://colab.research.google.com/github/parthpendal/Pyspark/blob/main/Pyspark_5_(Groupby%2C_Aggregate%2C_sort%2C_orderBy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [59]:
from pyspark.sql import SparkSession

In [60]:
spark=SparkSession.builder.appName("spark1").getOrCreate()

In [61]:
df_spark=spark.read.csv("/content/Srudent_Marks.csv", header=True,inferSchema=True)

In [62]:
df_spark.show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [63]:
  df_spark.filter((df_spark['Marks']>30)  | (df_spark['Name ']=='Mike')).select(['Name ','Marks']).show()

+------+-----+
| Name |Marks|
+------+-----+
|  Mike|   80|
|Thomas|   78|
|   Amy|   43|
| Karen|  100|
+------+-----+

In [64]:
df_spark.show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [65]:
# Group by
df_spark.groupBy("Subject").sum("Marks").show()

+-------+----------+
|Subject|sum(Marks)|
+-------+----------+
|Science|        78|
|Physics|       180|
|  Maths|        73|
+-------+----------+

In [66]:
#Group by and sort
df_spark.groupBy("Subject").avg("Marks").sort("Subject").show()

+-------+----------+
|Subject|avg(Marks)|
+-------+----------+
|  Maths|      36.5|
|Physics|      90.0|
|Science|      78.0|
+-------+----------+

In [67]:
#aggregation
df_spark.agg({'Marks':'Mean','Name ':'Count'}).show()

+----------+------------+
|avg(Marks)|count(Name )|
+----------+------------+
|      66.2|           8|
+----------+------------+

In [70]:
# Multiple aggregation with groupby and sort
df_spark.groupBy("Subject").agg({'Marks':'Mean','Name ':'Count'}).sort("avg(Marks)").show()

+-------+----------+------------+
|Subject|avg(Marks)|count(Name )|
+-------+----------+------------+
|  Maths|      36.5|           3|
|Science|      78.0|           2|
|Physics|      90.0|           3|
+-------+----------+------------+

In [82]:
# Multiple columns aggregation, sort descending oder
from pyspark.sql.functions import col, avg, min, max, sum
from pyspark.sql.functions import desc
df_spark.groupBy('Subject').agg(avg('Marks').alias("Average_marks"), max("Marks").alias("Max_Marks")).sort(desc("Max_Marks")).show()

+-------+-------------+---------+
|Subject|Average_marks|Max_Marks|
+-------+-------------+---------+
|Physics|         90.0|      100|
|Science|         78.0|       78|
|  Maths|         36.5|       43|
+-------+-------------+---------+

In [84]:
# using order by to descending
df_spark.orderBy(desc("Marks")).show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      7|   Karen|Physics|  100|
|      1|    Mike|Physics|   80|
|      3|  Thomas|Science|   78|
|      5|     Amy|  Maths|   43|
|      2|  Jacson|  Maths|   30|
|      4|    Lisa|Physics| NULL|
|      6|Jennifer|Science| NULL|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [85]:
df_spark.groupBy('Subject').agg(avg('Marks').alias("Average_marks"), max("Marks").alias("Max_Marks")).orderBy(desc("Max_Marks")).show()

+-------+-------------+---------+
|Subject|Average_marks|Max_Marks|
+-------+-------------+---------+
|Physics|         90.0|      100|
|Science|         78.0|       78|
|  Maths|         36.5|       43|
+-------+-------------+---------+