<a href="https://colab.research.google.com/github/parthpendal/Pyspark/blob/main/Pyspark_4_(Filter_Opration).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
import pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("spark1").getOrCreate()

In [4]:
df_spark=spark.read.csv('/content/Srudent_Marks.csv')

In [5]:
df_spark=spark.read.option('header','true').csv("/content/Srudent_Marks.csv")

In [6]:
df_spark.show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [7]:
#Method 1: Filter opration using pyspark
df_spark.filter("Marks>50").show()

df_spark.filter("Marks>30").select(["Name ","Subject","Marks"]).show()

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      3|Thomas|Science|   78|
|      7| Karen|Physics|  100|
+-------+------+-------+-----+

+------+-------+-----+
| Name |Subject|Marks|
+------+-------+-----+
|  Mike|Physics|   80|
|Thomas|Science|   78|
|   Amy|  Maths|   43|
| Karen|Physics|  100|
+------+-------+-----+

In [8]:
#Method 2: Filter operation
df_spark.filter(df_spark['Marks']>30).show()

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      3|Thomas|Science|   78|
|      5|   Amy|  Maths|   43|
|      7| Karen|Physics|  100|
+-------+------+-------+-----+

In [9]:
#Multiple conditions
df_spark.filter((df_spark['Marks']>30) & (df_spark['Name '].like('T%'))).show()

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      3|Thomas|Science|   78|
+-------+------+-------+-----+

In [10]:
df_spark.filter(df_spark.Marks>30).show()

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      3|Thomas|Science|   78|
|      5|   Amy|  Maths|   43|
|      7| Karen|Physics|  100|
+-------+------+-------+-----+

In [11]:
df_spark.filter(~(df_spark.Marks>30)).show()

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      2|Jacson|  Maths|   30|
+-------+------+-------+-----+

In [12]:
  df_spark.filter((df_spark['Marks']>30)  | (df_spark['Name ']=='Mike')).select(['Name ','Marks']).show()

+------+-----+
| Name |Marks|
+------+-----+
|  Mike|   80|
|Thomas|   78|
|   Amy|   43|
| Karen|  100|
+------+-----+

In [14]:
# Not operation
df_spark.filter(~(df_spark['Marks']>30)).select(['Name ','Marks']).show()

+------+-----+
| Name |Marks|
+------+-----+
|Jacson|   30|
+------+-----+