In [3]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\parth\anaconda3\lib\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\parth\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of pyodbc: Invalid version: '4.0.0-unsupported'

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\parth\AppData\Roaming\Python\Python39\site-packages\pip\_internal\cli\base_command.py", line 105, in _run_wrapper
    status = _inner_run()
  File "C:\Users\parth\AppData\Roaming\Python\Python39\site-packages\pip\_internal\cli\base_command.py", line 96, in _inner_run
    return self.run(options, args)
  File "C:\Users\parth\AppData\Roaming\Python\Python39\site-packages\pip\_internal\cli\req_command.py", line 67, in wrapper
    return func(self, options, args)
  File "C:\Users\parth\AppData\Roaming\Python\Python39\site-packages\pip\_internal\commands\install.py", line 483, in run
    installed_versions[distribution.canonical_name] = distribution.version
  File "C:\Users\parth\AppData\Roaming\Python\Python39\site-packages\pip\_internal\metadata\pkg_resources.py", line 192, in version
    return parse_version(self._dist.version)
  File "C:\Users\parth\AppData\Roaming\Python\Python39\site-packages\pip\_vendor\packaging\version.py", line 56, in parse
    return Version(version)
  File "C:\Users\parth\AppData\Roaming\Python\Python39\site-packages\pip\_vendor\packaging\version.py", line 202, in __init__
    raise InvalidVersion(f"Invalid version: '{version}'")
pip._vendor.packaging.version.InvalidVersion: Invalid version: '4.0.0-unsupported'

In [4]:
import pyspark
import pandas as pd

In [5]:
df=pd.read_csv("C:\\Users\\parth\\Downloads\\Chocolate Sales.csv")
df.head()
#In order to read data using pyspark we need to start a spark session
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practise1').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv("C:\\Users\\parth\\Downloads\\Chocolate Sales.csv")

In [10]:
df_pyspark.show()

+-------------------+-----------+-------------------+---------+--------+-------------+
|                _c0|        _c1|                _c2|      _c3|     _c4|          _c5|
+-------------------+-----------+-------------------+---------+--------+-------------+
|       Sales Person|    Country|            Product|     Date|  Amount|Boxes Shipped|
|     Jehu Rudeforth|         UK|    Mint Chip Choco|04-Jan-22| $5,320 |          180|
|        Van Tuxwell|      India|      85% Dark Bars|01-Aug-22| $7,896 |           94|
|       Gigi Bohling|      India|Peanut Butter Cubes|07-Jul-22| $4,501 |           91|
|       Jan Morforth|  Australia|Peanut Butter Cubes|27-Apr-22|$12,726 |          342|
|     Jehu Rudeforth|         UK|Peanut Butter Cubes|24-Feb-22|$13,685 |          184|
|        Van Tuxwell|      India| Smooth Sliky Salty|06-Jun-22| $5,376 |           38|
|         Oby Sorrel|         UK|    99% Dark & Pure|25-Jan-22|$13,685 |          176|
|    Gunar Cockshoot|  Australia|        After Nines|24-Mar-22| $3,080 |           73|
|     Jehu Rudeforth|New Zealand|     50% Dark Bites|20-Apr-22| $3,990 |           59|
|        Brien Boise|  Australia|    99% Dark & Pure|04-Jul-22| $2,835 |          102|
|Rafaelita Blaksland|         UK| Smooth Sliky Salty|13-Jan-22| $4,704 |           62|
|       Barr Faughny|        USA|       Orange Choco|10-Mar-22| $3,703 |           11|
|     Mallorie Waber|     Canada|            Eclairs|13-Jan-22| $1,442 |          286|
|   Karlen McCaffrey|New Zealand|      Drinking Coco|28-Jul-22|   $168 |          156|
|     Marney O'Breen|New Zealand|Peanut Butter Cubes|03-Aug-22| $8,379 |          173|
|     Beverie Moffet|  Australia|Organic Choco Syrup|26-Jan-22| $6,790 |          356|
|        Van Tuxwell|     Canada|Organic Choco Syrup|14-Feb-22| $4,067 |           42|
|    Roddy Speechley|        USA| Smooth Sliky Salty|05-Apr-22| $3,017 |          140|
|     Beverie Moffet|     Canada|          Milk Bars|16-Feb-22| $8,799 |          250|
+-------------------+-----------+-------------------+---------+--------+-------------+
only showing top 20 rows

In [14]:
df_pyspark=spark.read.option('header','true').csv("C:\\Users\\parth\\Downloads\\Chocolate Sales.csv")

In [16]:
df_pyspark.show()

+-------------------+-----------+-------------------+---------+--------+-------------+
|       Sales Person|    Country|            Product|     Date|  Amount|Boxes Shipped|
+-------------------+-----------+-------------------+---------+--------+-------------+
|     Jehu Rudeforth|         UK|    Mint Chip Choco|04-Jan-22| $5,320 |          180|
|        Van Tuxwell|      India|      85% Dark Bars|01-Aug-22| $7,896 |           94|
|       Gigi Bohling|      India|Peanut Butter Cubes|07-Jul-22| $4,501 |           91|
|       Jan Morforth|  Australia|Peanut Butter Cubes|27-Apr-22|$12,726 |          342|
|     Jehu Rudeforth|         UK|Peanut Butter Cubes|24-Feb-22|$13,685 |          184|
|        Van Tuxwell|      India| Smooth Sliky Salty|06-Jun-22| $5,376 |           38|
|         Oby Sorrel|         UK|    99% Dark & Pure|25-Jan-22|$13,685 |          176|
|    Gunar Cockshoot|  Australia|        After Nines|24-Mar-22| $3,080 |           73|
|     Jehu Rudeforth|New Zealand|     50% Dark Bites|20-Apr-22| $3,990 |           59|
|        Brien Boise|  Australia|    99% Dark & Pure|04-Jul-22| $2,835 |          102|
|Rafaelita Blaksland|         UK| Smooth Sliky Salty|13-Jan-22| $4,704 |           62|
|       Barr Faughny|        USA|       Orange Choco|10-Mar-22| $3,703 |           11|
|     Mallorie Waber|     Canada|            Eclairs|13-Jan-22| $1,442 |          286|
|   Karlen McCaffrey|New Zealand|      Drinking Coco|28-Jul-22|   $168 |          156|
|     Marney O'Breen|New Zealand|Peanut Butter Cubes|03-Aug-22| $8,379 |          173|
|     Beverie Moffet|  Australia|Organic Choco Syrup|26-Jan-22| $6,790 |          356|
|        Van Tuxwell|     Canada|Organic Choco Syrup|14-Feb-22| $4,067 |           42|
|    Roddy Speechley|        USA| Smooth Sliky Salty|05-Apr-22| $3,017 |          140|
|     Beverie Moffet|     Canada|          Milk Bars|16-Feb-22| $8,799 |          250|
|     Curtice Advani|         UK|      85% Dark Bars|08-Jun-22| $1,085 |          172|
+-------------------+-----------+-------------------+---------+--------+-------------+
only showing top 20 rows

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.printSchema()

root
 |-- Sales Person: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Boxes Shipped: string (nullable = true)