<a href="https://colab.research.google.com/github/parthpendal/Pyspark/blob/main/Pyspark_1%2C_2_and_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('sparks1').getOrCreate()

In [4]:
spark

In [6]:
df_spark=spark.read.csv('/content/sample_data/Srudent_Marks.csv')

In [7]:
df_spark.show()

+-------+--------+-------+-----+
|    _c0|     _c1|    _c2|  _c3|
+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [8]:
df_spark=spark.read.option('header','true').csv('/content/sample_data/Srudent_Marks.csv')

In [9]:
df_spark.show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [10]:
df_spark.printSchema()

root
 |-- Student: string (nullable = true)
 |-- Name : string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: string (nullable = true)

In [16]:
#another mothod to read the file
df_pyspark=spark.read.csv('/content/sample_data/Srudent_Marks.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [17]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, StringType, DoubleType, BooleanType, DateType
df_spark=df_spark.withColumn('Marks',df_spark['Marks'].cast(IntegerType()))

In [18]:
df_spark.dtypes

[('Student', 'string'),
 ('Name ', 'string'),
 ('Subject', 'string'),
 ('Marks', 'int')]

In [19]:
df_pyspark.printSchema()

root
 |-- Student: integer (nullable = true)
 |-- Name : string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: integer (nullable = true)

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.columns

['Student', 'Name ', 'Subject', 'Marks']

In [22]:
df_pyspark.show(3)

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      2|Jacson|  Maths|   30|
|      3|Thomas|Science|   78|
+-------+------+-------+-----+
only showing top 3 rows

In [23]:
df_pyspark.head(3)

[Row(Student=1, Name ='Mike', Subject='Physics', Marks=80),
 Row(Student=2, Name ='Jacson', Subject='Maths', Marks=30),
 Row(Student=3, Name ='Thomas', Subject='Science', Marks=78)]

In [24]:
df_pyspark.show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [27]:
df_pyspark.select(['Name ','Marks'])

DataFrame[Name : string, Marks: int]

In [28]:
#selecting some columns from pyspark
df_pyspark.select(['Name ','Marks']).show(3)

+------+-----+
| Name |Marks|
+------+-----+
|  Mike|   80|
|Jacson|   30|
|Thomas|   78|
+------+-----+
only showing top 3 rows

In [29]:
df_pyspark['Name ']

Column<'Name '>

In [30]:
df_pyspark.dtypes

[('Student', 'int'),
 ('Name ', 'string'),
 ('Subject', 'string'),
 ('Marks', 'int')]

In [31]:
df_pyspark.printSchema()

root
 |-- Student: integer (nullable = true)
 |-- Name : string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: integer (nullable = true)

In [32]:
df_pyspark.describe().show()

+-------+-----------------+------+-------+-----------------+
|summary|          Student| Name |Subject|            Marks|
+-------+-----------------+------+-------+-----------------+
|  count|                8|     8|      8|                5|
|   mean|              4.5|  NULL|   NULL|             66.2|
| stddev|2.449489742783178|  NULL|   NULL|28.81319142337412|
|    min|                1|   Amy|  Maths|               30|
|    max|                8|Thomas|Science|              100|
+-------+-----------------+------+-------+-----------------+

In [35]:
#adding columns in dataframe

df_pyspark.withColumn('Marks+10',df_pyspark['Marks']+10).show(30)

+-------+--------+-------+-----+--------+
|Student|   Name |Subject|Marks|Marks+10|
+-------+--------+-------+-----+--------+
|      1|    Mike|Physics|   80|      90|
|      2|  Jacson|  Maths|   30|      40|
|      3|  Thomas|Science|   78|      88|
|      4|    Lisa|Physics| NULL|    NULL|
|      5|     Amy|  Maths|   43|      53|
|      6|Jennifer|Science| NULL|    NULL|
|      7|   Karen|Physics|  100|     110|
|      8|     Ram|  Maths| NULL|    NULL|
+-------+--------+-------+-----+--------+

In [36]:
#Here columns is not added. One need to write df_pyspark=df_pyspark.withColumn('total_rooms plus 1',df_pyspark['total_rooms']+1)
df_pyspark.show(3)

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      2|Jacson|  Maths|   30|
|      3|Thomas|Science|   78|
+-------+------+-------+-----+
only showing top 3 rows

In [37]:
# dropping a column
df_pyspark.drop('Student').show(3)

+------+-------+-----+
| Name |Subject|Marks|
+------+-------+-----+
|  Mike|Physics|   80|
|Jacson|  Maths|   30|
|Thomas|Science|   78|
+------+-------+-----+
only showing top 3 rows

In [38]:
# remaning a column

df_pyspark.withColumnRenamed('Name ','Name1').show(3)

+-------+------+-------+-----+
|Student| Name1|Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      2|Jacson|  Maths|   30|
|      3|Thomas|Science|   78|
+-------+------+-------+-----+
only showing top 3 rows

In [39]:
df_pyspark.show(4)

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      2|Jacson|  Maths|   30|
|      3|Thomas|Science|   78|
|      4|  Lisa|Physics| NULL|
+-------+------+-------+-----+
only showing top 4 rows

In [40]:
df_pyspark.drop('Marks').show(5)

+-------+------+-------+
|Student| Name |Subject|
+-------+------+-------+
|      1|  Mike|Physics|
|      2|Jacson|  Maths|
|      3|Thomas|Science|
|      4|  Lisa|Physics|
|      5|   Amy|  Maths|
+-------+------+-------+
only showing top 5 rows

In [42]:
df_spark.show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [43]:
# na.drop will drop the rows which contain null
df_pyspark.na.drop().show()

+-------+------+-------+-----+
|Student| Name |Subject|Marks|
+-------+------+-------+-----+
|      1|  Mike|Physics|   80|
|      2|Jacson|  Maths|   30|
|      3|Thomas|Science|   78|
|      5|   Amy|  Maths|   43|
|      7| Karen|Physics|  100|
+-------+------+-------+-----+

In [44]:
# na.drop(how='any') will drop the record if in contains any nulls. Irrespective of number of nulls in the row.
# na.drop(how='all') will drop the record if all the values are null.
# na.drop(how='any',thresh=2) --> It means that atleast 2 not null value should be present.
# na.drop(how='any',subset=['median_house_value']) --> This will drop records with median_house_value as null
df_pyspark.na.drop(how='any',thresh=2).show()

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [48]:
# Filling missing value
df_pyspark.na.fill(100).show() #This will replace any missing value/null with "XXX"
df_pyspark.na.fill("100",'Marks').show() #This will replace all missing value in longitude to XXX
df_pyspark.na.fill("100",['Name ','Marks']).show() #This will replace all missing value in longitude and langitude column to XXX

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics|  100|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science|  100|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths|  100|
+-------+--------+-------+-----+

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

+-------+--------+-------+-----+
|Student|   Name |Subject|Marks|
+-------+--------+-------+-----+
|      1|    Mike|Physics|   80|
|      2|  Jacson|  Maths|   30|
|      3|  Thomas|Science|   78|
|      4|    Lisa|Physics| NULL|
|      5|     Amy|  Maths|   43|
|      6|Jennifer|Science| NULL|
|      7|   Karen|Physics|  100|
|      8|     Ram|  Maths| NULL|
+-------+--------+-------+-----+

In [49]:
df_spark.dtypes

[('Student', 'string'),
 ('Name ', 'string'),
 ('Subject', 'string'),
 ('Marks', 'int')]

In [50]:
from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['Marks'],
                outputCols=["{}_imputed".format(c) for c in ['Marks']]).setStrategy("mean")

In [51]:
imputer.fit(df_spark).transform(df_spark).show()

+-------+--------+-------+-----+-------------+
|Student|   Name |Subject|Marks|Marks_imputed|
+-------+--------+-------+-----+-------------+
|      1|    Mike|Physics|   80|           80|
|      2|  Jacson|  Maths|   30|           30|
|      3|  Thomas|Science|   78|           78|
|      4|    Lisa|Physics| NULL|           66|
|      5|     Amy|  Maths|   43|           43|
|      6|Jennifer|Science| NULL|           66|
|      7|   Karen|Physics|  100|          100|
|      8|     Ram|  Maths| NULL|           66|
+-------+--------+-------+-----+-------------+